body {
    background-color: rgb(45, 66, 99);
     /*background-color: rgb(200, 75, 49);*/
      /*background-color: rgb(236, 219, 186);*/
    color: rgb(236, 219, 186);
    margin: 0;
    padding: 0;
}

/* Footer CSS */

.myFooter {
    display: grid;
    background-color: rgb(25, 25, 25);
    justify-content: center;
    align-items: center;
    height: 72px;
}

/* Home CSS */

.home-grid > div {
    display: grid;
    padding: 1.1%;
    grid-template-columns: auto;
    height: 542px;
    margin: 1%;
}

.home-grid-items {
    justify-content: center;
    align-items: center;
    height: 1400px;
}

/* About Me CSS */

/* Blog CSS */

/* Contact Me CSS */